@import "tailwindcss";


/* Optional: apply only for Webkit browsers */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scroll-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.6); /* Tailwind gray-400 */
}

